body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #000000;
}

header {
    background-color: #2a72dd;
    color: #ffffff;
    padding: 20px;

}

h1 {
    font-size: 2.5em;
    text-align: center;
}